* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
section {
  width: 100%;
  height: 100vh;
}
header {
  width: 80%;
  height: 90px;
  padding: 20px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(1.3);
  top: 0px;
  z-index: 100000;
}
header > h2 {
  position: absolute;
  left: 70px;
  text-decoration: underline;
  -webkit-text-stroke: 0.3px #62daf8;
}
.header {
  width: 50px;
  padding: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 70px;
  transition: 0.5s;
  background: rgba( 225, 225, 225, 0.4 );
  backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.header > a {
  color: black;
  font-weight: 900;
  font-size: 20px;
  margin: 5px;
  text-decoration: none;
  display: none;
}
.header > span {
  color: black;
  font-weight: 900;
  font-size: 20px;
  margin: 5px;
  text-decoration: none;
}
header:hover .header {
  width: 200px;
}
header:hover a {
  display: block;
}
.head {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.block {
  width: 100px;
  height: 100px;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  position: absolute;
  z-index: -3;
}
.block:nth-child(even) {
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}
.headcontainer {
  width: 80%;
  position: relative;
  border: 1px solid black;
  padding: 20px;
  background: rgba( 225, 225, 225, 0.4 );
  backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  animation: box 3s linear infinite;
}
@keyframes box {
  100% {
    filter: hue-rotate(360deg);
  }
}
.headcontainer > .red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
}
.headcontainer > h1 {
  margin-bottom: 10px;
}
b {
  text-decoration: underline;
}
 .blink {
  font-weight: 900;
  font-size: 15px;
  position: relative;
}
.animation1par {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px;
}
.animation1 {
  width: 60%;
  height: 80vh;
  display: none;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(16,1fr);
  transition: 0.4s;
  transform: scale(0.5);
  padding: 10px;
}
.box {
  width: 50px;
  height: 50px;
  background: rgba( 225, 225, 225, 0.4 );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.box:nth-child(3n+1) {
    background-color: orange;
}
.animation1text {
  width: 400px;
  padding: 20px;
  text-align: left;
  font-weight: 200;
  background: rgba( 225, 225, 225, 0.4 );
  backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}